.nav1{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  color:white !important;
  background-color: transparent !important;
  box-shadow: none !important;
  width:100vw !important;
  
}