/* .ce-chat-feed-column {
  background-color: tomato !important;
  border-radius: 50px !important;
} */

/* .ce-chat-feed {
  background-color: tomato !important;
  border-radius: 50px !important;
} */

/* .ce-chat-title {
  background-color: tomato !important;
  border-radius: 50px !important;
} */

.ce-chat-list-mobile-options {
}

.ce-chat-title-container {
}

.ce-chat-title-text {
}

.ce-chat-subtitle-text {
}

.ce-chat-settings-mobile-option {
}

.ce-feed-container {
}

.ce-feed-container-top {
}

.ce-feed-container-bottom {
}

.ce-message-form-container {
}

.ce-message-imags-row {
}

.ce-message-files-row {
}

.ce-message-files-row {
}

.ce-quil-container {
}

/* houses b/i/u/code/attachments options */
.ql-toolbar ql-snow {
}

.ce-send-message-button {
}

/* styles chat feed bg */
.ce-chat-feed-container {
  background-color: transparent !important;
  border-radius: 50px !important;
}

/* .ce-msg-form-container {
  background: green !important;
} */

/* -------------------------------------- */

.ce-chat-list-column {
}

.ce-chat-list {
}

.ce-chats-container {
}

.ce-chat-form-container {
}

.ce-chat-card ce-active-chat-card {
}
.ce-chat-list-mobile-options {
  background-color: tomato !important;
  border-radius: 50px !important;
}

/* --------------------------------- */

.ce-settigs-column {
}

.ce-settings {
}

.ce-settings-container {
}

.ce-chat-settings-contaienr {
}

.ce-chat-avatars-row {
}

.ce-chat-title-form {
}

.ce-photo-section {
}
