/* -----------------------Main Wrapper------------------ */
.ce-chat-engine {
  background:transparent !important;
}
.ce-wrapper {
  background:transparent !important;
}

/* -----------------Middle Column---------------------- */
.ce-chat-feed-column {
  background-color: transparent !important;
  border-radius: 50px !important;
}

.ce-chat-feed {
  background-color: transparent !important;
  border-radius: 50px !important;
}

/* .ce-chat-title {
  background-color: tomato !important;
  border-radius: 50px !important;
} */

.ce-chat-list-mobile-options {
}

.ce-chat-title-container {
  color:black;
  border-radius: 10px;
}

.ce-chat-title-text {
  
}

.ce-chat-subtitle-text {
}

.ce-chat-settings-mobile-option {
}

.ce-feed-container {
}

.ce-feed-container-top {
}

.ce-feed-container-bottom {
}

.ce-message-form-container {
}

.ce-message-imags-row {
}

.ce-message-files-row {
}

.ce-message-files-row {
}

.ce-quil-container {
}

.ce-message-bubble{
  
}

/* houses b/i/u/code/attachments options */
.ql-toolbar ql-snow {
}

.ce-send-message-button {
}

/* styles chat feed bg */
.ce-chat-feed-container {
  background:transparent !important;
  /* border-radius: 50px !important; */
}

/* .ce-msg-form-container {
  background: green !important;
} */

/* ----------------Left Column---------------------- */

.ce-chat-list-column {
}

.ce-chat-list {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  
  
 
  
}

.ce-chats-container {
  background-color: transparent !important;
  border-radius: 50px !important;
}

.ce-chat-form-container {
  border-radius:15px;
  background:transparent;
}

.ce-chat-card ce-active-chat-card {
margin-top: 50px !important;
}
.ce-chat-list-mobile-options {
  background-color: tomato !important;
  border-radius: 50px !important;
}

/* --------------Right Column------------------- */

.ce-settigs-column {
  /* border-radius: 50px !important; */
}

.ce-settings {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  background-color:black;
}

.ce-settings-container {
  background:transparent !important;
  border-radius: 50px !important;
}

.ce-chat-settings-container {
  border-radius:10px !important;
  background-color:transparent !important;
}

.ce-chat-avatars-row {
}

.ce-chat-title-form {
}

.ce-photo-section {
}
