body {
  display: flex;
  justify-content: center;
}

#background-video {
  filter: brightness(70%);
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h2 {
  color: white;
  text-align: center;
  margin-top: 30vh;
}

.mainBox {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
}
